/*------我做这个css 为了调整首页上面的导航栏宽度太宽的问题一定要去引用 用link-------*/
/*------必须要把级别提高才能使用这个是semanticui的规矩----------- */

/*------padding----------*/

.m-padded-tb-bot {

    padding-bottom: 3em !important;

}

.m-padded {
    padding-left: 150px !important;
}

.m-padded-left-mini {
    padding-left: 20em !important;
}

.m-padded-left-small {
    padding-left: 1.6em !important;
}

.m-padded-left-mid {
    padding-left: 5em !important;
}

.m-padded-left-both {
    padding-left: 2em !important;
    padding-right: 2.5em !important;
}

.m-padded-right-mini {
    padding-left: 2em !important;
}

.m-padded-tb-no {
    padding-top: 0em !important;
    padding-bottom: 0em !important;
    padding-left: 0em !important;
    padding-right: 0em !important;
}

.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;

}

.m-padded-tb-tiny {
    padding-top: 1em !important;
    padding-bottom: 1em !important;

}

.m-padded-tb-mid {
    padding-top: 3em !important;
    padding-bottom: 3em !important;

}

.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;

}

/*-----------margin--------------------*/

.m-margin-tb-mini {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.m-margin-tb-top {
    margin-top: -1em !important;

}

.m-margin-tb-top-mini {
    margin-top: 5em !important;

}

.m-margin-tb-bottom {
    margin-top: 0em !important;

}

.m-margin-tb-bot {

    margin-bottom: 1em !important;
}

.m-margin-bot {
    margin-bottom: 1em !important;

}

.m-margin-bot-large {
    margin-bottom: 6em !important;

}
.m-margin-bot-massive {
    margin-bottom: 10em !important;

}

.m-margin-top {
    margin-top: 1em !important;

}
.m-margin-top-large {
    margin-top: 4em !important;

}

.m-margin {
    margin-left: 2em !important;
    margin-right: 2em !important;

}

.m-margin-both {
    margin-left: 2em !important;
    margin-right: 5em !important;

}

.m-margin-left {
     margin-left: 12em !important;

 }

.m-margin-left-massive {
    margin-left: 22em !important;

}

.m-margin-left-mid {
    margin-left: 9em !important;

}

.m-margin-left-large {
    margin-left: 34em !important;

}

.m-margin-left-larger {
    margin-left: 40em !important;

}

.m-margin-left-mini {
    margin-left: 2em !important;

}
.m-margin-left-tiny {
    margin-left: 6em !important;

}
.m-margin-left-tiny2 {
    margin-left: 7.5em !important;

}
.m-margin-left-tiny3 {
    margin-left: 9em !important;

}

.m-margin-right-mini {
    margin-left: 2em !important;

}

.m-margin-tb-no {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
}

/*------text----------*/
.m-text {
    /*就是下面三个的合集 为了方便*/
    font-weight: 300 ! important;
    letter-spacing: 1px ! important;
    line-height: 1.8; /*这个属性是行间距*/
}

.m-text-thin {
    font-weight: 300 ! important;
    font-size: 10px;
}

.m-text-bold {
    font-weight: 900 ! important;
}

.m-text-spaced {
    letter-spacing: 1px ! important;
}

.m-text-lined {
    line-height: 1.8; /*这个属性是行间距*/
}

.m-text-large {
    color: coral;
}

.m-opacity-mini {
    opacity: 0.6 !important;
}

/*------display----------*/

.m-inline-block {
    display: inline-block !important;
}

.m-container {
    max-width: 200em !important;
    margin: auto !important;
}

.m-container-small {
    max-width: 30em !important;
    margin: auto !important;
}

.m-thin {
    height: 2em !important;
}

/*--------------color--------*/
.m-orange {
    color: coral !important;
    font-weight: 500 !important;
    font-size: 15px !important;
}

/*-----------------text area---------------------*/
.m.textarea {
    wide: 20em !important;
    height: 10em !important;
}